.header {
  flex-basis: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  background-color: #b9964d;
  border: solid;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-items: center;
}

.footer {
  flex-basis: 10%;
  min-height: 100px;
  background-color: #b9964d;
  border: solid;
  margin-bottom: 20px;
}

.catSection {
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.catImage {
  max-width: 500px;
  max-height: 500px;
}

.heading {
  font-size: 70px;
}
