*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to top, #c3225a, #fd2db1);
}
